
<html>
  <head>
    <style>
      body.very-wrong {
        background-color: red;
      }
      body.wrong {
        background-color: lightsalmon;
      }
      body.correct {
        background-color: green;
      }
    </style>
  </head>
  <%# if ["Way too high!", "Way too low!"].include?(message) %>
  <% if message == "Way too high!" || message == "Way too low!" %>
    <body class="very-wrong">
  <% elsif message == "You got it right!" %>
    <body class="correct">
  <% else %>
    <body class="wrong">
  <% end %>
    <p> <%= message %> <br>
      <% if message == "You got it right!" %>
        The SECRET NUMBER is <%= @@SECRET_NUMBER %>
      <% end %>
    </p>
    <p>
    <form>
      <input type='text' name='guess' />
      <input type="submit" value="GUESS!" />
    </form>
    </p>
  </body>
</html>
